# IDE and Editor Configurations
/.idea
/.vscode
/.fleet

# Dependency directories
/node_modules
/vendor

# Laravel specific files and folders
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/laravel.log

# Environment files
.env
.env.backup
.env.production

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# Homestead files
Homestead.json
Homestead.yaml

# Package specific
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
auth.json

# Logs
npm-debug.log
yarn-error.log
